* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #d8d4cf;
}

.sheet-container {
    background-color: #004daa;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.horizontal-section {
    border: 1px solid rgb(48, 52, 54);  /* For debugging */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 25px 10px;
  }

.vertical-section {
    border: 1px solid rgb(48, 52, 54);  /* For debugging */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }

.box {
    /* justify-content: flex-start; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* trying to get moon sign to the bottom of it's column

.end {
    align-self: flex-end;
} */

.box-title {
    border: 1px solid #bf2237;  /* For debugging */ 
    background-color: black;
    color: white;
    width: 100px;
    height: 20px;
}

.box-title-blank {
    border: 1px solid #bf2237;  /* For debugging */ 
    background-color: #131516;
    width: 100px;
    height: 20px;
}

.text-entry {
    border: 1px solid rgb(48, 52, 54);  /* For debugging */ 
    width: 200px;
}

.stat-entry {
    border: 1px solid rgb(48, 52, 54);  /* For debugging */ 
    width: 75px;
}

.modifier-entry {
    border: 1px solid rgb(48, 52, 54);  /* For debugging */ 
    width: 50px;
}

.modifier-box {
    border: 1px solid rgb(48, 52, 54);
    /* top/bottom left/right */
    padding: 10px 50px;
    width: 50px;
}

.portait {
    border: 1px solid rgb(48, 52, 54);
    height: 100px;
}

.ability-box {
    border: 1px solid rgb(48, 52, 54);
    height: 250px;
    width: 500px;
}

.flex {
    flex: 1
}

.tiny-items {
    border: 1px solid rgb(48, 52, 54);
    width: 400px;
    height: 100px;
}

.item {
    border: 1px solid rgb(48, 52, 54);
    width: 400px;
    height: 25px;
}

.description {
    text-wrap: wrap;
    flex: initial;
}

.item-section {
    max-width: 400px;
}

.other-notes {
    border: 1px solid rgb(48, 52, 54);
    height: 500px;
}